<!--- Header section  -->
<header class="main-header">
  <div class="header-inner">
    <div class="header-left pull-left">
      <!-- Search area -->
      <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
        <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="请输入关键词搜索...">
        <button type="submit" class="search-icon">
          <span class="fa fa-search fa-lg"></span>
        </button>
      <% end %>
      <!-- End Search -->
    </div>
    <div class="header-center">
      <!-- <a href="/"><i class="fa fa-coffee" aria-hidden="true"></i> 品 味 伴 客</a> -->
      <!-- <a href="/"><span><img src="https://ww4.sinaimg.cn/large/006tNc79ly1fdcy9li35hg302s02sa9u.gif" style="width:40px;height:40px;margin-top:-3px;" /></span> 品 味 伴 客</a> -->
      <a href="/">品 味 伴 客</a>
    </div>
    <div class="header-right pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
          <% end %>
        </li>
        <% if !current_user %>
          <li>
            <div class="log-in">
              <%= link_to("登录", new_user_session_path, class: "btn btn-xs header-user-item") %>
            </div>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.nickname.present? %>
                Hi, <%= current_user.nickname %>
              <% else %>
                Hi, <%= current_user.email %>
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                </li>
              <% end %>
              <li>
                <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
              </li>
              <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
              <li>
                <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- <div class="subheader animated">
    <ul class="subheader-content">
      <li class="active">
        <%= link_to("所有商品", products_path) %>
      </li>
      <% Category.all.each do |category| %>
        <li>
          <%= link_to(category.name, products_path(category: category.name)) %>
        </li>
      <% end %>
    </ul>
  </div> -->
  <%= render "common/flashes" %>
</header>
<!-- End of header section -->


<!-- banner-v2 -->

<div class="banner-v2">
  <div class="banner-img">
    <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddhnk2fwwj31kw0lrwiv.jpg" />
  </div>
  <div class="banner-detail">
    <!-- <h2 class="banner-logo ">
      banke
    </h2> -->
    <div  class="banner-slogan">
      <h2>
        给你的水加一份<span class="sub-slogan "> 甜度</span>
      </h2>
    </div>
    <div class="sign-up-button">
      <% if !current_user %>
        <%= link_to("马上注册", new_user_registration_path,  class: "btn btn-default") %>
      <% else %>
        <%= link_to(content_tag(:i, '马上行动', class: 'fa fa-hand-o-right'), products_path,  class: "btn btn-default") %>
      <% end %>
    </div>
  </div>
</div>


<!-- end of banner-v2 -->



<!-- test section -->



<!-- end of test section -->

<!-- our service and -->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>我们为您提供</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fddbzdtxiij312s122444.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>匠心手艺</h4><br />
          <p>为您甄选最优质商品</p>
          <p>免去您左顾右盼的烦恼  </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddc60tgtij30kt0ia74n.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>温暖时光</h4><br />
          <p>为您准备最舒心的购物体验</p>
          <p>从选购到使用，温暖相随</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fddckx30w7j30rj0rogmv.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>贴心服务</h4><br />
          <p>为您的宝贝穿上铠甲</p>
          <p>必定完璧送至您手中</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end of our service -->



<!-- hot-products -->

<div class="row" id="hot-products">

  <div class="module-name decorative">
    <span>我们向您推荐</span>
  </div>
  <div class="container" style="margin-bottom:60px;">
      <div class="col-md-offset-1 col-md-10">
              <div id="myCarousel" class="carousel slide">

                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="row">
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p1) do %>
                                    <% if @p1.photos.present? %>
                                        <%= image_tag(@p1.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p1.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p1) %>
                                            <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p1), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p1), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p1.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p2) do %>
                                    <% if @p2.photos.present? %>
                                        <%= image_tag(@p2.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block ">
                                    <p >
                                      <span  class="price" >￥ <%= @p2.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p2) %>
                                            <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p2), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p2), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p2.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p3) do %>
                                    <% if @p3.photos.present? %>
                                        <%= image_tag(@p3.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p3.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p3) %>
                                            <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p3), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p3), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p3.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p4) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p4.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p4.price %> </span>
                                      <span class="like pull-right" >
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p4) %>
                                            <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p4), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p4), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p4.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->
                      <div class="item">
                          <div class="row">
                              <div class="col-sm-3"><div class="product-card-block">
                                <div class="img-block">
                                  <%= link_to product_path(@p5) do %>
                                  <% if @p5.photos.present? %>
                                      <%= image_tag(@p5.photos[0].image.thumb.url) %>
                                  <% else %>
                                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                  <% end %>
                                  <% end %>
                                </div>
                                <div class="info-block">
                                  <p >
                                    <span  class="price" >￥ <%= @p5.price %> </span>
                                    <span class="like pull-right">
                                      <% if user_signed_in? %>
                                        <% if !current_user.is_fan_of?(@p5) %>
                                          <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to unfavorite_product_path(@p5), :class => "unlike ",method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <%= link_to favorite_product_path(@p5), :class => "like ",  method: :post do %>
                                          <i class="fa fa-heart fa-lg"></i><%= @p5.fans.count %>
                                        <% end %>
                                      <% end %>
                                    </span>
                                  </p>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p6) do %>
                                    <% if @p4.photos.present? %>
                                        <%= image_tag(@p6.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p6.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p6) %>
                                            <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p6), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p6), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p6.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p7) do %>
                                    <% if @p7.photos.present? %>
                                        <%= image_tag(@p7.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p7.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p7) %>
                                            <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p7), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p7), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p7.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-card-block">
                                  <div class="img-block">
                                    <%= link_to product_path(@p8) do %>
                                    <% if @p8.photos.present? %>
                                        <%= image_tag(@p8.photos[0].image.thumb.url) %>
                                    <% else %>
                                      <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                                    <% end %>
                                    <% end %>
                                  </div>
                                  <div class="info-block">
                                    <p >
                                      <span  class="price" >￥ <%= @p8.price %> </span>
                                      <span class="like pull-right">
                                        <% if user_signed_in? %>
                                          <% if !current_user.is_fan_of?(@p8) %>
                                            <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% else %>
                                            <%= link_to unfavorite_product_path(@p8), :class => "unlike ",method: :post do %>
                                              <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                            <% end %>
                                          <% end %>
                                        <% else %>
                                          <%= link_to favorite_product_path(@p8), :class => "like ",  method: :post do %>
                                            <i class="fa fa-heart fa-lg"></i><%= @p8.fans.count %>
                                          <% end %>
                                        <% end %>
                                      </span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/item-->


                  </div>
                  <!--/carousel-inner-->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
              <!--/myCarousel-->

      </div>
  </div>
</div>
  <!-- end of hot products -->


<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>我们的铁粉说</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7qeb8dqvj307y07gq2v.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            在伴客购买杯子，绝对是我最棒的体验了<br>
            每个杯子都是外观美质量赞<br>
            喝水真得变成了一种享受，谢谢伴客～<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客小萌
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qed0swnj30b30alq32.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            自从买了伴客保温杯<br>
            现在外出旅游,带一壶水可以喝一整天<br>
            而且保温效果非常持久<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客强仔
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qee04w0j30b40b4jrj.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            平时是个杯子控<br>
            但每次要找到自己喜欢的都要花很多时间<br>
            很开心伴客解决了我的苦恼<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客晓琪
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->

<div id="call-to-action" class="row">
  <div class="text-center">
    <%= link_to("马上购买 <i class='fa fa-arrow-right'></i>".html_safe, products_path, class: "btn btn-default btn-lg") %>
  </div>
</div>

<!-- end of call-to-action -->

<!-- question -->


<div id="question" class="row">
  <div class="module-name decorative">
    <span>FAQ</span>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>杯子属于易碎物品，在邮递的过程中怎么保证完好无损呢？</p>
    <p class="answer"><b>A：</b>伴客统一采用顺丰快递配送，我们的每一个商品都会严格包装，防止在运输的过程中破碎</p>
    </div>
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>对于杯子的质感，你们会有把控吗？</p>
    <p class="answer"><b>A：</b>伴客的每一款杯子都是很有质感的，我们的宗旨就是改变用户喝水的体验，所以质感方面都是严格把控的哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>有的保温杯很有重量，不方便携带，而且保温效果不持久，你们有做改善吗？</p>
      <p class="answer"><b>A：</b>伴客的每一款杯子，都追求的是轻巧、易携带，所以保温杯也是轻盈型的</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>很多人买杯子有时只是为了好看而已，你们的设计风格是怎样的？</p>
      <p class="answer"><b>A：</b>伴客杯子的设计风格偏简易、清新范，重在给顾客一种简单的心情</p>
    </div>
  </div>
</div>


<!-- End of question -->

<!--  Gotop index -->

<div class="index">
  <i class="fa fa-arrow-up"></i>
</div>

<!-- end of Gotop index -->

<!-- Footer -->


<div class="footer">
  <div class="copyright">
    <div class="design">
      <span><a href="https://github.com/megychen/JD-Store-Competition" target="_blank">Github仓库</a></span>  <span><%= link_to '关于我们', about_path %></span>  <span><%= link_to '联系我们', about_path %></span>
      <p>@Copyright 2017 品味伴客 由<span>陈慧娟</span> 和 <span>刘慧玲</span>共同打造</p>
      <p>再次感谢您的光临</p>
    </div>
  </div>
</div>

<!-- End of Footer -->
