<!--- Header section  -->
<header class="main-header">
  <div class="header-inner">
    <div class="header-left pull-left">
      <!-- Search area -->
      <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
        <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="请输入关键词搜索...">
        <button type="submit" class="search-icon">
          <span class="fa fa-search fa-lg"></span>
        </button>
      <% end %>
      <!-- End Search -->
    </div>
    <div class="header-center">
      <a href="/"><i class="fa fa-coffee" aria-hidden="true"></i> 品 味 伴 客</a>
    </div>
    <div class="header-right pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
          <% end %>
        </li>
        <% if !current_user %>
          <li>
            <div class="log-in">
              <%= link_to("登录", new_user_session_path, class: "btn btn-xs header-user-item") %>
            </div>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.nickname.present? %>
                Hi, <%= current_user.nickname %>
              <% else %>
                Hi, <%= current_user.email %>
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                </li>
              <% end %>
              <li>
                <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
              </li>
              <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
              <li>
                <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="subheader animated">
    <ul class="subheader-content">
      <li class="active">
        <%#= link_to("所有商品", products_path) %>
      </li>
      <% Category.all.each do |category| %>
        <li>
          <%= link_to(category.name, products_path(category: category.name)) %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render "common/flashes" %>
</header>
<!-- End of header section -->

<!-- banner section -->

<div  id="banner">
  <div class="row">
    <div class="col-md-12">
      <section class="awSlider" style="">
        <div  class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target=".carousel" data-slide-to="0" class="active"></li>
            <li data-target=".carousel" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active" id="item1">
              <img src="https://ww2.sinaimg.cn/large/006tNbRwly1fcygx0oeylj31kw0dmape.jpg">
              <div class="carousel-caption" >
                <h3>给你的水加一份</h3>
                <h1>甜度</h1>
                <br />
                <% if !current_user %>
                  <%= link_to("马上注册", new_user_registration_path,  class: "btn") %>
                <% else %>
                  <%= link_to(content_tag(:i, '马上行动', class: 'fa fa-hand-o-right'), products_path,  class: "btn") %>
                <% end %>
              </div>
            </div>
            <div class="item" id="item2">
              <img src="https://ww1.sinaimg.cn/large/006tNbRwly1fcz1nxmozgj31kw0dl1dz.jpg">
              <div class="carousel-caption">
                <h3>10款融入</h3>
                <h1>创意设计的</h1>
                <h3 >俏皮杯子</h3>
                <br />
                <%= link_to("了解更多", info_path, class: "btn ",  method: :get) %>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">品味伴客</span>
          </a>
          <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">温暖一杯情</span>
          </a>

        </div>
      </section>
    </div>
  </div>
</div>

<!-- End of banner section -->

<!-- our service and -->
<div id="service" class="row">
  <div class="module-name decorative">
    <!-- <i></i><span>我们的服务</span><i></i> -->
    <span>我们为您提供</span>
  </div>
  <div class="col-md-10 col-md-offset-1 ">
    <div class="feedback-1">
      <div class="col-md-6 text-center">
        <h4 class="feedback-info">
          <p>生活总是忙碌的</p>
          <p>常常向往一种通透明澈的简单</p>
          <p><b>伴客玻璃杯</b></p>
          <p>有着一气呵成的安适与自然</p>
          <p>让你的世界剔透清明</p>
        </h4>
      </div>
      <div class="col-md-6 text-center">
        <p>
          <%= image_tag("https://ww2.sinaimg.cn/large/006y8lVagy1fd5esgrqnvj31kw11x1l0.jpg") %>
        </p>
      </div>
    </div>
    <div class="feedback-2">
      <div class="col-md-6 text-center">
        <p>
          <%= image_tag("https://ww2.sinaimg.cn/large/006y8lVagy1fd53dzuidsj31kw11o4qr.jpg") %>
        </p>
      </div>
      <div class="col-md-6 text-center">
        <h4 class="feedback-info">
          <p>生活总是忙碌的</p>
          <p>我们的心难免会着凉</p>
          <p><b>伴客保温杯</b></p>
          <p>如冬日里可爱的太阳</p>
          <p>让你的世界温暖如初</p>
        </h4>
      </div>
    </div>
    <div class="feedback-3">
      <div class="col-md-6 text-center">
        <h4 class="feedback-info">
          <p>生活总是忙碌的</p>
          <p>都快忘记了我们的文化</p>
          <p><b>伴客陶瓷杯</b></p>
          <p>带你重温匠心手艺</p>
          <p>静静享受旧时的美好</p>
        </h4>
      </div>
      <div class="col-md-6 text-center">
        <p>
          <%= image_tag("https://ww2.sinaimg.cn/large/006y8lVagy1fd56lf9d25j31kw11x4qt.jpg") %>
        </p>
      </div>
    </div>
  </div>
</div>


<!-- end of our service -->



<!-- hot-products -->

<div class="row" id="hot-products">
  <div class="col-md-10 col-md-offset-1">
    <div class="module-name decorative">
      <span>我们向您推荐</span>
    </div>
    <div id="pins" class="transitions-enabled">
      <% @products.each do |product| %>
      <div class="box panel panel-default">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].image.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
        <div class="fig" >
          <p class="actions ">
            <% if product.quantity.present? && product.quantity > 0 %>
              <%= link_to add_to_cart_product_path(product), class: "add-to-cart ",:method => :post do %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <% end %>
            <% else %>
              已销售一空，无法购买
            <% end %>
          </p>
        </div>
        <div class="panel-body" style="padding:5px;">
          <p >
            <span  class="price pull-left" >￥ <%= product.price %> </span>
            <span class="pull-right">
              <% if user_signed_in? %>
                <% if !current_user.is_fan_of?(product) %>
                  <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
                    <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                  <% end %>
                <% else %>
                  <%= link_to unfavorite_product_path(product), :class => "unlike ",method: :post do %>
                    <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
                  <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                <% end %>
              <% end %>
            </span>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- end of hot products -->


<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>我们的铁粉说</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-left">
            在伴客购买杯子，绝对是我最棒的体验了<br>
            每个杯子都是外观美质量赞<br>
            喝水真得变成了一种享受，谢谢伴客～<br>
            <small class="pull-right">顾客小萌 <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd7qeb8dqvj307y07gq2v.jpg" class="round-image-50" /></small>
          </p><br><br><br>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info">
            自从买了伴客保温杯<br>
            现在外出旅游,带一壶水可以喝一整天<br>
            而且保温效果非常持久<br>
            <small class="pull-right">顾客强仔 <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qed0swnj30b30alq32.jpg" class="round-image-50" /></small>
          </p><br><br><br>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info">
            平时是个杯子控<br>
            但每次要想找到自己喜欢的都要花很多时间<br>
            很开心伴客解决了我的苦恼<br>
            <small class="pull-right">顾客晓琪 <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd7qee04w0j30b40b4jrj.jpg" class="round-image-50" /></small>
          </p><br><br><br>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->

<div id="call-to-action" class="row">
  <div class="text-center">
    <%= link_to("马上购买 <i class='fa fa-arrow-right'></i>".html_safe, products_path, class: "btn btn-default btn-lg") %>
  </div>
</div>

<!-- end of call-to-action -->

<!-- question -->


<div id="question" class="row">
  <div class="module-name decorative">
    <span>FAQ</span>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>杯子属于易碎物品，在邮递的过程中怎么保证完好无损呢？</p>
    <p class="answer"><b>A：</b>伴客统一采用顺丰快递配送，我们的每一个商品都会严格包装，防止在运输的过程中破碎</p>
    </div>
    <div class="col-md-3 col-sm-6">
    <p class="sub-question"><b>Q：</b>对于杯子的质感，你们会有把控吗？</p>
    <p class="answer"><b>A：</b>伴客的每一款杯子都是很有质感的，我们的宗旨就是改变用户喝水的体验，所以质感方面都是严格把控的哦</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>有的保温杯很有重量，不方便携带，而且保温效果不持久，你们有做改善吗？</p>
      <p class="answer"><b>A：</b>伴客的每一款杯子，都追求的是轻巧、易携带，所以保温杯也是轻盈型的</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="sub-question"><b>Q：</b>很多人买杯子有时只是为了好看而已，你们的设计风格是怎样的？</p>
      <p class="answer"><b>A：</b>伴客杯子的设计风格偏简易、清新范，重在给顾客一种简单的心情</p>
    </div>
  </div>
</div>


<!-- End of question -->

<!-- Footer -->


<div class="footer">
  <div class="copyright">
    <div class="design">
      <span><a href="https://github.com/megychen/JD-Store-Competition" target="_blank">Github仓库</a></span>  <span><%= link_to '关于我们', about_path %></span>  <span><%= link_to '联系我们', about_path %></span>
      <p>@Copyright 2017 品味伴客 由<span>陈慧娟</span> 和 <span>刘慧玲</span>共同打造</p>
      <p>再次感谢您的光临</p>
    </div>
  </div>
</div>

<!-- End of Footer -->
