<!--- Header section  -->
<header class="main-header">
  <div class="header-slogan">
    <h3>发现美好事物  |  </h3>
    <% if !current_user %>
      <%= link_to("马上注册", new_user_registration_path, class: "btn btn-sm btn-border-white") %>
    <% else %>
    <h3>终于等到你</h3>
    <% end %>
  </div>
  <div class="header-inner">
    <div class="header-left pull-left">
      <!-- Search area -->
      <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
        <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="产品、描述...">
        <button type="submit" class="search-icon">
          <span class="fa fa-search fa-lg"></span>
        </button>
      <% end %>
      <!-- End Search -->
    </div>
    <div class="header-center">
      <a href="/">乐活生活馆</a>
    </div>
    <div class="header-right pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do %>
            购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
          <% end %>
        </li>
        <% if !current_user %>
          <li>
            <div class="log-in">
              <%= link_to("登录", new_user_session_path, class: "btn btn-sm header-user-item") %>
            </div>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.nickname.present? %>
                Hi, <%= current_user.nickname %>
              <% else %>
                Hi, <%= current_user.email %>
              <% end %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li>
                  <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                </li>
              <% end %>
              <li>
                <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
              </li>
              <li>
                <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
              </li>
              <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
              <li>
                <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="subheader animated">
    <ul class="subheader-content">
      <li class="active">
        <%= link_to("所有商品", products_path) %>
      </li>
      <% Category.all.each do |category| %>
        <li>
          <%= link_to(category.name, products_path(category: category.name)) %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
<!-- End of header section -->

<!-- banner section -->

<div class="container-fluid" id="banner">
  <div class="row">
    <div class="col-md-12">
      <section class="awSlider">
        <div  class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target=".carousel" data-slide-to="0" class="active"></li>
            <li data-target=".carousel" data-slide-to="1"></li>
            <li data-target=".carousel" data-slide-to="2"></li>
            <li data-target=".carousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcvnb5gilcj31kw11mkjp.jpg">
              <div class="carousel-caption">美丽新视界</div>
            </div>
            <div class="item">
              <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcvmq5a2uwj31kw11x1kx.jpg">
              <div class="carousel-caption">美丽新视界</div>
            </div>
            <div class="item">
              <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcvmsqwheuj31kw11xe84.jpg">
              <div class="carousel-caption">美丽新视界</div>
            </div>
            <div class="item">
              <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fcvmvn12j7j31kw11x7wi.jpg">
              <div class="carousel-caption">美丽新视界</div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Geri</span>
          </a>
          <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">İleri</span>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- End of banner section -->



<!-- hot-products -->

<!--<div class="tag-container1">
    <div class="tag">

        <div class="tag-side tag-1-side">
            <div class="tag-1-top"></div>
            <div class="tag-text tag-1-text">
                发现美好事物
                <div class="rule-shape rule-red">&starf;</div>
            </div>
        </div>

        <div class="tag-side tag-1-side is-back">
            <div class="tag-1-top"></div>
            <div class="tag-text tag-1-text">
                乐活<br />生活馆
                <div class="rule-shape">&starf;</div>
            </div>
        </div>

    </div>
</div>-->

<div class="container-fluid" id="hot-products">
  <div class="row">
    <div class="module-name decorative">
      <i></i><span>人气商品</span><i></i>
    </div>

    <% Product.all.limit(6).sort_by{|product| -product.fans.count}.each do |product| %>
    <div class=" col-md-4 col-xs-6 box">
      <div class="image">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].image.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
      </div>

      <div class="fig">
        <p class="title"><%= link_to(product.title, product_path(product)) %> </p>
        <p class="actions">
          <span class="price">￥<%= product.price %></span>
          <span class="pull-right">
            <% if product.quantity.present? && product.quantity > 0 %>
              <%= link_to(content_tag(:i, "", class: "fa fa-shopping-cart fa-lg"), add_to_cart_product_path(product), :method => :post) %>
            <% else %>
              已售馨
            <% end %>
          </span>
          <span class="pull-right">
            <% if user_signed_in? %>
              <% if !current_user.is_fan_of?(product) %>
                <%= link_to favorite_product_path(product), method: :post do %>
                  <i class="fa fa-heart-o fa-lg"></i>
                <% end %>
              <% else %>
                <%= link_to unfavorite_product_path(product), method: :post do %>
                  <i class="fa fa-heart fa-lg"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_product_path(product), method: :post do %>
                <i class="fa fa-heart-o fa-lg"></i>
              <% end %>
            <% end %>
            <i class="sub"><%= product.fans.count %></i>
          </span>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- End of hot-products -->



<!-- specific-products -->

<div class="container-fluid" id="specific-products">
  <div class="row">
    <div class="module-name decorative">
      <i></i><span>精选商品</span><i></i>
    </div>

    <% Product.all.last(6).each do |product| %>
    <div class=" col-md-4 col-xs-6 box">
      <div class="image">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].image.url) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
      </div>

      <div class="fig">
        <p class="title"><%= link_to(product.title, product_path(product)) %> </p>
        <p class="actions">
          <span class="price">￥<%= product.price %></span>
          <span class="pull-right">
            <% if product.quantity.present? && product.quantity > 0 %>
              <%= link_to(content_tag(:i, "", class: "fa fa-shopping-cart fa-lg"), add_to_cart_product_path(product), :method => :post) %>
            <% else %>
              已售馨
            <% end %>
          </span>
          <span class="pull-right">
            <% if user_signed_in? %>
              <% if !current_user.is_fan_of?(product) %>
                <%= link_to favorite_product_path(product), method: :post do %>
                  <i class="fa fa-heart-o fa-lg"></i>
                <% end %>
              <% else %>
                <%= link_to unfavorite_product_path(product), method: :post do %>
                  <i class="fa fa-heart fa-lg"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_product_path(product), method: :post do %>
                <i class="fa fa-heart-o fa-lg"></i>
              <% end %>
            <% end %>
            <i class="sub"><%= product.fans.count %></i>
          </span>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- End of specific-products -->


<!-- Footer -->

<div class="footer">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>关于产品</h4>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to(category.name, products_path(category: category.name)) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>关于我们</h4>
          <ul>
            <li>理念：乐活 Love Home</li>
            <li>ROR爱好者</li>
            <li>拥有挑剔的眼光</li>
            <li>设计者：陈慧娟</li>
            <li>设计者：刘慧玲</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-chunk">
          <h4>售后服务</h4>
          <ul>
            <li>24小时热线服务</li>
            <li>热线咨询：15995693717</li>
            <li>邮箱咨询：megy.chen203@gmail.com</li>
            <li>帮助</li>
            <li>意见</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="design">
      <span><a href="https://github.com" target="_blank">Github仓库</a></span>  <span><a href="#">关于我们</a></span>  <span><a href="#">联系我们</a></span>
      <p>@Copyright 2017 乐活生活馆网站是由<span>陈慧娟</span> 和 <span>刘慧玲</span>共同打造</p>
      <p>再次感谢您的光临</p>
    </div>
  </div>
</div>

<!-- End of Footer -->

<!-- index -->
<div class="index">
  <a href="#main-header"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>
