<div class="products-1">
  <%= render "common/flashes" %>
  <h3 class="introduction">给你的水加一份</h3>
  <h4 class="introduction-sub">甜度</h4>
  <hr>

  <div class="filter">
    <span><%= link_to("价钱", products_path(:order => "by_price")) %><i class="fa fa-arrow-down" ></i></span>
    <span><%= link_to("喜欢数量", products_path(:order => "by_fans")) %><i class="fa fa-arrow-down"></i></span>
    <span><%= link_to("上架时间", products_path) %><i class="fa fa-arrow-down"></i></span>
  </div>

  <div class="row">

      <div id="pins" class="transitions-enabled">
        <% @products.each do |product| %>
        <div class="box panel panel-default">
          <%= link_to product_path(product) do %>
            <% if product.photos.present? %>
              <%= image_tag(product.photos[0].image.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
            <% end %>
          <% end %>
          <div class="fig" >
            <p class="actions">
              <% if product.quantity.present? && product.quantity > 0 %>
                <%= link_to add_to_cart_product_path(product), class: "add-to-cart", :remote => true, :method => :post do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <% end %>
              <% else %>
                已销售一空，无法购买
              <% end %>
            </p>
          </div>
          <div class="panel-body" style="padding:5px;">
            <p >
              <span  class="price pull-left" >￥ <%= product.price %> </span>
              <span class="pull-right">
                <% if user_signed_in? %>
                  <% if !current_user.is_fan_of?(product) %>
                    <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
                      <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                    <% end %>
                  <% else %>
                    <%= link_to unfavorite_product_path(product), :class => "unlike ",method: :post do %>
                      <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
                    <i class="fa fa-heart fa-lg"></i><%= product.fans.count %>
                  <% end %>
                <% end %>
              </span>
            </p>
          </div>
        </div>
        <% end %>
      </div>


  </div>
  <p class=" text-center ending">
    没有更多商品了
  </p>

  <div class="index">
    <i class="fa fa-arrow-up"></i>
  </div>
</div>
