<div class="products-1">
  <%= render "common/flashes" %>
  <h3 class="introduction">给你的水加一份</h3>
  <h4 class="introduction-sub">甜度</h4>
  <hr>

  <div class="filter">
    <span><%= link_to("价钱", products_path(:order => "by_price")) %><i class="fa fa-arrow-down" ></i></span>
    <span><%= link_to("喜欢数量", products_path(:order => "by_fans")) %><i class="fa fa-arrow-down"></i></span>
    <span><%= link_to("上架时间", products_path) %><i class="fa fa-arrow-down"></i></span>
  </div>

  <div class="row">
    <%= render :partial => "product_items", :collection => @products, :as => :product %>
  </div>
  <p class=" text-center ending">
    没有更多商品了
  </p>
</div>
