<!DOCTYPE html>
<html>
  <head>
    <title>品味伴客</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://ww4.sinaimg.cn/large/006tNc79ly1fdcy9li35hg302s02sa9u.gif"/>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <div class="container-fluid contents">
      <div class="row">
        <%= yield %>
      </div>
      <%= render "common/footer" %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :handwrite_javascript %>
  </body>
</html>
