<!DOCTYPE html>
<html>
  <head>
    <title>品味伴客</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "common/navbar" %>
    <div class="container-fluid contents">
      <div class="row">
        <%= yield %>
      </div>
      <%= render "common/footer" %>
    </div>
  </body>
</html>
