<!DOCTYPE html>
<html>
  <head>
    <title>品味伴客</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <!--- Header section  -->
      <header class="main-header">
        <div class="header-inner">
          <div class="header-left pull-left">
            <!-- Search area -->
            <%= form_tag search_products_path , :method => :get, :class => "form-search" do %>
              <input type="text", class="search-input", name="q" value="<%= params[:q] %>" placeholder="请输入关键词搜索...">
              <button type="submit" class="search-icon">
                <span class="fa fa-search fa-lg"></span>
              </button>
            <% end %>
            <!-- End Search -->
          </div>
          <div class="header-center">
            <a href="/"><i class="fa fa-coffee" aria-hidden="true"></i> 品 味 伴 客</a>
          </div>
          <div class="header-right pull-right">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to carts_path do %>
                  购物车 <i class="fa fa-shopping-cart fa-lg"></i> (<%= current_cart.products.count %>)
                <% end %>
              </li>
              <% if !current_user %>
                <li>
                  <div class="log-in">
                    <%= link_to("登录", new_user_session_path, class: "btn btn-xs header-user-item") %>
                  </div>
                </li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <% if current_user.nickname.present? %>
                      Hi, <%= current_user.nickname %>
                    <% else %>
                      Hi, <%= current_user.email %>
                    <% end %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <li>
                        <%= link_to(content_tag(:i, " 后台管理", class: "fa fa-lock"), admin_products_path) %>
                      </li>
                    <% end %>
                    <li>
                      <%= link_to(content_tag(:i, " 我的订单", class: "fa fa-history"), account_orders_path) %>
                    </li>
                    <li>
                      <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %>
                    </li>
                    <li><%= link_to(content_tag(:i, " 编辑账户", class: "fa fa-pencil-square-o"),edit_user_registration_path) %></li>
                    <li>
                      <%= link_to(content_tag(:i, " 账户登出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="subheader animated">
          <ul class="subheader-content">
            <li class="active">
              <%= link_to("所有商品", products_path) %>
            </li>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to(category.name, products_path(category: category.name)) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= render "common/flashes" %>
      </header>
      <!-- End of header section -->
      <div id="lp-main"  class="row" style="margin-top:105px;">
        <%= yield %>
      </div>


    </div>
  </body>
</html>
