<!DOCTYPE html>
<html>
  <head>
    <title>品味伴客</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row welcome-page">
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
